.colorCode{
			position: relative;
			color: white;
			display:flex; 
			flex-direction:row; 
			height: 70px; 
			width:160px; 
			margin:15px;
		}

		.colorCode__productCode{
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 10px;
		}